<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    
  
     <div id="resultpadding">
      <%= "You're feeling #{@emotion}." %>
    </div>    
   
    <% if @emotion == "destructive" %>
    <br>
    <br>
    <%= "Here's a site to get all of your destructive energy out" %>
    <br>
    <a href="https://play.google.com/store/apps/details?id=com.psychicsoftware.letsbreakstuff&hl=en">break stuff </a>

    
    
    
    <% elsif @emotion == "procrastinatory" %>
    <br>
    <%= "Here's a site to make you productive" %>
    <br>
    <br>
    <a href="http://selfcontrolapp.com/">Turn off addicting websites so you can do actual work (mac only) </a>
    
    
    
    <% elsif @emotion == "tense" %>
    <br>
    <%= "Here are some sites to make you relaxed" %>
    <br>
    <br>
    <a href="http://www.rainymood.com/">listen to rain sounds </a>
    <br>
    <a href="http://www.calm.com/"> have a guided relaxation </a>
    <br>
    <a href="http://www.calmsound.com/"> listen to nature sounds </a>
    <br>
    <a href="https://coffitivity.com/"> listen to ambient coffee shop noises </a>
    
    
    
    <% elsif @emotion == "disgruntled" %>
    <br>
    <%= "Here's a site to make you un-disgruntled" %>
    <br>
    <br>
    <a href="http://gruntle.me/">un-disgruntle yourself </a>
    
    
    
    <% elsif @emotion == "helpful" %>
    <br>
    <%= "Here's a site to use your helpfulness" %>
    <br>
    <br>
    <a href="http://thequietplaceproject.com/thedreamsroom/comfortspot">comfort someone/give them advice </a>
    
    
        <% elsif @emotion == "bored" %>
    <br>
    <p> Here are some sites to relieve you of your avid boredom </p>
    <br>
    <br>
    <a href="http://www.ferryhalim.com/orisinal/">play cute games </a>
    <br>
    <a href="http://www.drawastickman.com/">have a stickman adventure </a>
    <br>
    <a href="http://codeincomplete.com/projects/snakes/">play a snake game </a>
    <br>
    <a href="https://www.youtube.com/watch?v=IUDTlvagjJA">be in a virtual barber shop(you need headphones) </a>
    

    
    
    <% elsif @emotion == "artsy" %>
    <br>
    <%= "Here are some sites to make you the next Leonardo Da Vinci!" %>
    <br>
    <br>
    <a href="http://weavesilk.com/" >make cool symmetrical designs </a>
    <br>
    <a href="http://thisissand.com/" >make cool sand art </a>
    
    
    
    <% elsif @emotion == "musical" %>
    <br>
    <%= "Here are some sites to make you the next Mozart!" %>
    <br>
    <br>
    <a href="http://virtualpiano.net/">play a virtual piano </a>
    <br>
    <a href="http://www.seaquence.org/"> make sick beats </a>
    <br>
    <a href="http://jazz.computer/"> scroll to listen to cool music </a>
    
    
    
    <% elsif @emotion == "troubled/stressed" %>
    <br>
    <%= "Here are some sites to let you vent and make your life carefree!" %>
    <br>
    <br>
    <a href="http://thequietplaceproject.com/">go to your quiet place </a>
    <br>
    <a href="http://make-everything-ok.com/"> press a magic button and fix everything </a>
    <br>
    <a href="http://thequietplaceproject.com/thethoughtsroom/?page=thethoughtsroom&lang="> vent/get your thoughts out of your head </a>
    
    
    
    <% elsif @emotion == "lonely" %>
    <br>
    <%= "Here's a site to get you a companion!" %>
    <br>
    <br>
    <a href="http://www.match.com/"> get a boyfriend/girlfriend ;) </a>
    
    
     
    <% elsif @emotion == "hungry" %>
    <br>
    <%= "Here are some sites to give you a party in your tummy!!!" %>
    <br>
    <br>
    <a href="http://www.seamless.com/"> get food delivered </a>
    <br>
    <a href="http://allrecipes.com/"> yummy recipes </a>
    <br>
    <a href="http://www.buzzfeed.com/rachelysanders/foods-you-didnt-know-you-could-diy#.tq622r6AeA"> super easy food diys </a>
    
    
    
    <% elsif @emotion == "fat" %>
    <br>
    <%= "Here are some sites to get your beach bod ready!" %>
    <br>
    <br>
    <a href="http://7-min.com/"> do a 7 minute workout everyday </a>
    <br>
    <a href="http://www.blogilates.com/"> a healthy lifestyle blog with great workouts </a>x
      
    
    
    <% elsif @emotion == "crafty" %>
    <br>
    <%= "Here are some sites to make you the next Martha Stewart!! (minus the jail part)" %>
    <br>
    <br>
    <a href="http://www.marthastewart.com/"> martha stewart's website </a>
    <br>
    <a href="http://www.buzzfeed.com/diy"> lots of super cool, useful, and easy diys
      
    
    <% else %>
    <%="Please go back and enter an emotion"%>
    <%end%>

  </body>
  </html>


